body {
  background-color: rgb(198, 237, 255);
  min-height: 100vh;
}
head {
font-family: 'Times New Roman', Times, serif;
font-size:x-large
color: black;
}
body{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: medium;
}
 